<%- include("../includes/header.ejs", {title:"Companies - " + result[0].school_name}); %>
    <h1>Schools</h1>
    <ul>
        <li>School Name: <%= result[0].school_name %></li>
        <li>Address: <%= result[0].street %>, <%= result[0].zipcode %></li>
    </ul>


<a href="/school/all"><< back</a>

<%- include("../includes/footer.ejs"); %>